In [2]:
from __future__ import print_function

In [1]:
#data handling/prediction
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, accuracy_score

#visualization
%matplotlib inline
import seaborn as sns

In [39]:
testdata = pd.read_csv("/Users/christianjacobrenfro/Desktop/Kaggle/Titanic/test.csv")

In [89]:
traindata = pd.read_csv("/Users/christianjacobrenfro/Desktop/Kaggle/Titanic/train.csv")

In [60]:
Testdata.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [49]:
print(testdata.head())

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0          892       3    male  34.5      0      0   7.8292   NaN        Q
1          893       3  female  47.0      1      0   7.0000   NaN        S
2          894       2    male  62.0      0      0   9.6875   NaN        Q
3          895       3    male  27.0      0      0   8.6625   NaN        S
4          896       3  female  22.0      1      1  12.2875   NaN        S

In [56]:
Testdata.dtypes

PassengerId      int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [63]:
Testdata.Cabin.unique()

array([nan, 'B45', 'E31', 'B57 B59 B63 B66', 'B36', 'A21', 'C78', 'D34',
       'D19', 'A9', 'D15', 'C31', 'C23 C25 C27', 'F G63', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C101', 'C55 C57', 'B71', 'C46', 'C116', 'F',
       'A29', 'G6', 'C6', 'C28', 'C51', 'E46', 'C54', 'C97', 'D22', 'B10',
       'F4', 'E45', 'E52', 'D30', 'B58 B60', 'E34', 'C62 C64', 'A11',
       'B11', 'C80', 'F33', 'C85', 'D37', 'C86', 'D21', 'C89', 'F E46',
       'A34', 'D', 'B26', 'C22 C26', 'B69', 'C32', 'B78', 'F E57', 'F2',
       'A18', 'C106', 'B51 B53 B55', 'D10 D12', 'E60', 'E50', 'E39 E41',
       'B52 B54 B56', 'C39', 'B24', 'D28', 'B41', 'C7', 'D40', 'D38',
       'C105'], dtype=object)

In [64]:
Testdata.Cabin.nunique()

76

In [82]:
numsex = Testdata.Sex.value_counts()
numclass = Testdata.Pclass.value_counts()
numpeople = Testdata.PassengerId.nunique()
numcabins = Testdata.Cabin.nunique()
print("There are ", numpeople, "people on board and ", 
      numcabins, " recorded cabins in our data. See breakdown of Male/Female below:\n",
      numsex, "\n\nBreakdown of Class below:\n", numclass)

There are  418 people on board and  76  recorded cabins in our data. See breakdown of Male/Female below:
 male      266
female    152
Name: Sex, dtype: int64

Breakdown of Class below:
 3    218
1    107
2     93
Name: Pclass, dtype: int64

In [83]:
Testdata.isnull().sum()

PassengerId      0
Pclass           0
Sex              0
Age             86
SibSp            0
Parch            0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [84]:
Testdatanonull = Testdata.dropna?

In [86]:
Testdatanonull = Testdata.dropna(axis = 0, how = 'any')

In [88]:
Testdatanonull.shape

(87, 9)